.main-nav {
  &.is-active {
    visibility: visible;
    transform: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @include vp-767 {
      display: block;
      padding-bottom: 30px;
      box-shadow: 0 3px 7px 0 rgba($color-default-black, 10%);
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    margin-right: 40px;
    padding: 0;
    display: flex;
    gap: 10px 40px;

    @include vp-767 {
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      margin: 0 auto;
    }
  }

  &__item {
    @include vp-767 {
      width: 100%;
      padding: 15px 20px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 23px;
    border-bottom: 1px solid transparent;
    transition: color $trans-default, border-bottom-color $trans-default;

    &:hover,
    &:focus {
      color: $color-royal-blue;
      border-bottom-color: $color-royal-blue;
    }

    &:active {
      color: rgba($color-nero, 40%);
      border-bottom-color: rgba($color-nero, 40%);
    }

    &.is-active {
      opacity: 60%;
    }
  }

  &__toggle {
    display: none;
  }
}
