.news {
  &__wrapper {
    margin-bottom: 100px;
  }

  &__list {
    list-style: none;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 40px;
    justify-items: start;

    @include vp-1439 {
      gap: 20px;
    }

    @include vp-1279 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    @include vp-1023 {
      justify-content: space-between;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      align-self: center;

      & .card {
        margin: 0 auto;
      }
    }
  }

  &__item {
    &--type-1 {
      grid-column: 1 / span 2;
      grid-row: 1;
    }

    &--type-2 {
      grid-row: 2;

      & .card {
        height: 100%;
      }

      @include vp-1023 {
        width: 60%;
      }

      @include vp-767 {
        width: 100%;
      }
    }

    &--type-3 {
      grid-row: 2;
    }

    &--type-4 {
      grid-column: 1 / span 1;
      grid-row: 3;
    }

    &--type-5 {
      grid-column: 1 / span 2;
      grid-row: 3;
      justify-self: end;
      align-self: start;
      width: 65.2%;

      & .card {
        min-height: 180px;
        padding-top: 30px;
        padding-bottom: 19px;
      }

      & .card__title {
        margin-top: 15px;
      }

      @media (max-width: (1850px)) {
        width: 60%;
      }

      @include vp-1439 {
        align-self: auto;

        & .card {
          height: 100%;
        }
      }

      @media (max-width: (1360px)) {
        width: 50%;
      }

      @include vp-1279 {
        width: 100%;
      }

      @include vp-1023 {
        width: 60%;
      }

      @include vp-767 {
        width: 100%;
      }
    }

    &--type-6 {
      grid-column: 1 / span 2;
      grid-row: 3;
      justify-self: end;
      width: 65.2%;
      align-self: end;

      & .card {
        min-height: 180px;
        padding-top: 30px;
        padding-bottom: 19px;
      }

      & .card__title {
        margin-top: 15px;
      }

      @media (max-width: (1850px)) {
        width: 60%;
      }

      @include vp-1439 {
        grid-row: auto;
        align-self: auto;
        width: 100%;

        & .card {
          height: 100%;
        }
      }
    }

    &--type-7 {
      grid-row: 4;

      & .card {
        height: 100%;
      }

      @include vp-1023 {
        width: 60%;
      }

      @include vp-767 {
        width: 100%;
      }
    }

    &--type-8 {
      grid-row: 4;
    }

    &--type-9 {
      grid-column: 1 / span 1;
      grid-row: 5;
    }

    &--type-10 {
      grid-column: 1 / span 2;
      grid-row: 5;
      justify-self: end;
      width: 65.2%;
      align-self: start;

      & .card {
        min-height: 180px;
        padding-top: 30px;
        padding-bottom: 19px;
      }

      & .card__title {
        margin-top: 15px;
      }

      @media (max-width: (1850px)) {
        width: 60%;
      }

      @include vp-1439 {
        align-self: auto;

        & .card {
          height: 100%;
        }
      }

      @media (max-width: (1360px)) {
        width: 50%;
      }

      @include vp-1279 {
        width: 100%;
      }

      @include vp-1023 {
        width: 60%;
      }

      @include vp-767 {
        width: 100%;
      }
    }

    &--type-11 {
      grid-column: 1 / span 2;
      grid-row: 5;
      justify-self: end;
      width: 65.2%;
      align-self: end;

      & .card {
        min-height: 180px;
        padding-top: 30px;
        padding-bottom: 19px;
      }

      & .card__title {
        margin-top: 15px;
      }

      @media (max-width: (1850px)) {
        width: 60%;
      }

      @include vp-1439 {
        grid-row: auto;
        align-self: auto;
        width: 100%;

        & .card {
          height: 100%;
        }
      }
    }

    @include vp-767 {
      margin-bottom: 20px;
    }
  }
}
